[submodule "zabbix/zabbix-disk-performance"]
	path = zabbix/zabbix-disk-performance
	url = https://github.com/grundic/zabbix-disk-performance
[submodule "zabbix/zabbix-ssllabs"]
	path = zabbix/zabbix-ssllabs
	url = https://github.com/objectiveit/zabbix-ssllabs
[submodule "zabbix/zabbix-ssl-cert"]
	path = zabbix/zabbix-ssl-cert
	url = https://github.com/pschmitt/zabbix-ssl-cert
[submodule "zabbix/zabbix-mikrotik-snmp"]
	path = zabbix/zabbix-mikrotik-snmp
	url = https://github.com/YSmetana/zabbix-mikrotik-snmp
[submodule "Windows/Win10-Initial-Setup-Script"]
	path = Windows/Win10-Initial-Setup-Script
	url = https://github.com/Disassembler0/Win10-Initial-Setup-Script
[submodule "Mikrotik/Mikrotik-RouterOS-automatic-backup-and-update"]
	path = Mikrotik/Mikrotik-RouterOS-automatic-backup-and-update
	url = git@github.com:beeyev/Mikrotik-RouterOS-automatic-backup-and-update.git
